In [51]:
import pandas as pd
import numpy as np

In [52]:
#download the class movie reviews from here:
#https://docs.google.com/spreadsheets/d/17rCJzmWxqvAu9rkpkgt4ToccIlY4A1Ffuu1W9X3B8Ag/
#then read that in as a pandas dataframe

In [53]:
M = pd.read_csv("reviews.csv", index_col='Name')

In [54]:
M.head()

,American Sniper,The Hunger Games: Mockingjay - Part 1,Guardians of the Galaxy,The Lego Movie,The Hobbit,Transformers,Malificent,Big Hero 6,Godzilla,Interstellar,How to Train your Dragon 2,Gone Girl,Divergent,The Fault in Our Stars,Unbroken,300: Rise of an Empire
Name,,,,,,,,,,,,,,,,
Mike,NaN,NaN,5,NaN,4,NaN,3,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,2
HJ SONG,NaN,2,3,4,4,5,NaN,4,4,5,5,NaN,NaN,NaN,5,5
Ryan Hansen,NaN,3,4,3,5,2,3,3,3,NaN,5,NaN,3,NaN,NaN,NaN
Olumuyiwa Durojaiye,NaN,NaN,NaN,NaN,NaN,5,NaN,5,2,NaN,3,NaN,NaN,NaN,NaN,2
Charlie,NaN,2,3,NaN,3,2,3,NaN,4,5,2,NaN,2,3,NaN,2

In [55]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [56]:
def get_recs(movie_name, M, num):

    import numpy as np
    reviews = []
    for title in M.columns:
        if title == movie_name:
            continue
        cor = pearson(M[movie_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

###Question 1:  What movie is most Similar to 'The fault in our stars' (60 pts)

In [57]:
get_recs('The Fault in Our Stars', M, 1)

[('How to Train your Dragon 2', 0.3528496583218998)]

The movie most similar to 'The fault in our stars' is 'How to Train your Dragon 2'

###Question 2:  Which movie(s) would you most like to see, based on your classmates experience? (40 pts)

Movie I would like to see the most

In [58]:
ratings = M.ix['Susan Huang'].dropna()

In [59]:
ratings.sort(ascending=False)

In [60]:
favorite_movie = ratings.index[0]

In [61]:
favorite_movie

'Godzilla'

In [62]:
get_recs(favorite_movie, M, 1)

[('The Lego Movie', 0.3266153407184465)]

The movie I would mostt like to see based on my classmate's experience is 'The Lego Movie'

Top five movie recommendations based on my favorite movie:

In [63]:
get_recs(favorite_movie, M, 5)

[('The Lego Movie', 0.3266153407184465),
 ('Transformers', 0.31982331605005582),
 ('Gone Girl', 0.2794384025662679),
 ('Malificent', 0.25838683317087641),
 ('Guardians of the Galaxy', 0.23651623086038087)]

The top five movies that the recommender recommends that I watch based on my favorite movie Godzilla are: The Lego Movie, Transformers, Gone Girl, Malificient, and Guardians of the Galaxy.

###Question 3: Bonus Question...  For all the movies you haven't seen, can you predict how you'd rate them using your the class reviews? (10 pts)

Yes, one way to try to predict how I would rate the movies I watched with the class reviews is as follows:

For all the movies that I did watch, find the correlation of between that and a movie in the list of all movies. For each movie in the list, assign it the value that it highly correlates with.

In [68]:
M.columns

Index([u'American Sniper', u'The Hunger Games: Mockingjay - Part 1',
       u'Guardians of the Galaxy', u'The Lego Movie', u'The Hobbit',
       u'Transformers', u'Malificent', u'Big Hero 6', u'Godzilla',
       u'Interstellar', u'How to Train your Dragon 2', u'Gone Girl',
       u'Divergent', u'The Fault in Our Stars', u'Unbroken',
       u'300: Rise of an Empire'],
      dtype='object')

In [69]:
ratings.index

Index([u'Godzilla', u'The Hobbit', u'The Lego Movie', u'Transformers'], dtype='object')

In [70]:
X = pd.DataFrame(index=M.columns, columns=ratings.index)

In [71]:
X

,Godzilla,The Hobbit,The Lego Movie,Transformers
American Sniper,NaN,NaN,NaN,NaN
The Hunger Games: Mockingjay - Part 1,NaN,NaN,NaN,NaN
Guardians of the Galaxy,NaN,NaN,NaN,NaN
The Lego Movie,NaN,NaN,NaN,NaN
The Hobbit,NaN,NaN,NaN,NaN
Transformers,NaN,NaN,NaN,NaN
Malificent,NaN,NaN,NaN,NaN
Big Hero 6,NaN,NaN,NaN,NaN
Godzilla,NaN,NaN,NaN,NaN
Interstellar,NaN,NaN,NaN,NaN
How to Train your Dragon 2,NaN,NaN,NaN,NaN
Gone Girl,NaN,NaN,NaN,NaN
Divergent,NaN,NaN,NaN,NaN
The Fault in Our Stars,NaN,NaN,NaN,NaN
Unbroken,NaN,NaN,NaN,NaN
300: Rise of an Empire,NaN,NaN,NaN,NaN

In [72]:
for i in X.index:
    for j in X.columns:
        X.set_value(i,j,pearson(M[i],M[j]))

In [73]:
X

,Godzilla,The Hobbit,The Lego Movie,Transformers
American Sniper,0.1234758,0.02470061,0.3339612,0.05693608
The Hunger Games: Mockingjay - Part 1,0.068554,-0.07470739,-0.08189277,0.1805825
Guardians of the Galaxy,0.2365162,0.1368091,0.4764906,0.05069624
The Lego Movie,0.3266153,0.02549771,1,0.2467112
The Hobbit,0.03987075,1,0.02549771,0.02697556
Transformers,0.3198233,0.02697556,0.2467112,1
Malificent,0.2583868,0.2184064,0.2000253,0.2001305
Big Hero 6,-0.05643594,-0.001549938,-0.1422587,0.03500617
Godzilla,1,0.03987075,0.3266153,0.3198233
Interstellar,0.03810134,0.1823284,0.1373931,0.1900505
How to Train your Dragon 2,0.1412282,0.2810573,0.362206,0.194561
Gone Girl,0.2794384,-0.001761964,0.1238149,0.1234488
Divergent,0.1009653,0.1209421,0.2408156,0.2390766
The Fault in Our Stars,0.2267088,0.135427,0.1623389,0.2599014
Unbroken,0.04949455,-0.1026888,0.06725553,0.214821
300: Rise of an Empire,0.07689329,0.129906,-0.14215,0.09480489

In [117]:
values = pd.DataFrame(index=M.columns, columns = ['rating'])

In [142]:
values

                                      rating
American Sniper                          NaN
The Hunger Games: Mockingjay - Part 1    NaN
Guardians of the Galaxy                  NaN
The Lego Movie                           NaN
The Hobbit                               NaN
Transformers                             NaN
Malificent                               NaN
Big Hero 6                               NaN
Godzilla                                 NaN
Interstellar                             NaN
How to Train your Dragon 2               NaN
Gone Girl                                NaN
Divergent                                NaN
The Fault in Our Stars                   NaN
Unbroken                                 NaN
300: Rise of an Empire                   NaN

In [167]:
c = pd.DataFrame(columns=['columns'])

In [168]:
j = 0
for i in X.idxmax(axis=1):
    c.set_value(j,'columns',i)
    j = j + 1

In [169]:
c.shape

(16, 1)

In [170]:
c

           columns
0   The Lego Movie
1     Transformers
2   The Lego Movie
3   The Lego Movie
4       The Hobbit
5     Transformers
6         Godzilla
7     Transformers
8         Godzilla
9     Transformers
10  The Lego Movie
11        Godzilla
12  The Lego Movie
13    Transformers
14    Transformers
15      The Hobbit

In [100]:
M.shape

(56, 16)

In [105]:
my_ratings = M.loc['Susan Huang']

In [106]:
my_ratings

American Sniper                         NaN
The Hunger Games: Mockingjay - Part 1   NaN
Guardians of the Galaxy                 NaN
The Lego Movie                            3
The Hobbit                                4
Transformers                              2
Malificent                              NaN
Big Hero 6                              NaN
Godzilla                                  4
Interstellar                            NaN
How to Train your Dragon 2              NaN
Gone Girl                               NaN
Divergent                               NaN
The Fault in Our Stars                  NaN
Unbroken                                NaN
300: Rise of an Empire                  NaN
Name: Susan Huang, dtype: float64

In [107]:
my_ratings = my_ratings.dropna()

In [108]:
my_ratings

The Lego Movie    3
The Hobbit        4
Transformers      2
Godzilla          4
Name: Susan Huang, dtype: float64

Combine both the data frames c and values. Then replace the c with the ratings given by my_ratings. That will give a very simple way to determine the rating of the movie. This of course does not account for discrepancies and otlines.

This is not the best method to determine how I would rate the movies that are missing, but this is a start in developing a better algorithm for prediction.